@media (max-width:1250px) {
    .link__mid-wrap {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .info__mid {
        margin: 0 auto;
    }

    .content__mid {
        flex-wrap: wrap;
        flex-shrink: 0;
    }

    .img__mid {
        margin: 0 auto;
        width: 569px;
    }

    .img__mid-dog {
        width: 100%;
        flex-shrink: 0;
    }

    .content__info {
        margin: 0 auto;
    }
}

@media (max-width:1100px) {
    .img__info {
        min-width: 350px;
        padding-right: 50px;
    }

    .text__info {
        font-size: 35px;
    }

    .paragraph1__info {
        font-size: 15px;
    }

    .paragraph2__info {
        font-size: 15px;
    }
}

@media (max-width:768px) {
    .nav {
        overflow: hidden;
        width: 0;
        height: 0;
        transition: width 0.3s;
    }

    .nav.active {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 320px;
        height: auto;
        background: #292929;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav__list {
        flex-direction: column;
        row-gap: 40px;
    }

    .nav__link {
        font-family: 'Arial';
        font-weight: 400;
        font-size: 32px;
        color: #CDCDCD;
    }

    .burger {
        display: flex;
        transition: transform 0.3s;
    }
}

@media (max-width:475px) {

    .container {
        max-width: 300px;
        padding: 0px 5px;
    }

    .friends__slider {
        position: relative;
    }

    .slider__list {
        display: flex;
        padding-right: 106px;
        padding-left: 106px;
        justify-content: space-between;
    }

    .slider__controls {
        top: 50%;
        left: 0;
        width: 100%;
    }

    .slider__control {
        position: static;
        display: block;
        position: absolute;
        transform: translateY(-50%);
    }

    .slider__control_left {
        justify-content: space-between;
        left: 0;
    }

    .slider__control_right {
        justify-content: space-between;
        right: 0;
    }

    .friends__btn-wrap {
        padding-top: 100px;
    }

}